*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
.kotlin
#So we don't accidentally commit our private keys
*.gpg
node_modules/
**/build/
**/coverage/
!src/**/build/
webApp/dist/
webApp/build-storybook.log
webApp/storybook.log
webApp/packages/elements/dist
storybook-static
.env
